.ion-page,
#root,
body,
ion-content.background {
    --background: url(../../../assets/img/fondo10.png) no-repeat fixed;
}


.imgWebPay{
    width: 60%;
    margin: 0 auto;
    display: block;  
}

code{
    margin-left: 10px;
}