<ion-content class="background">
  
  <ion-card class="cardCenter" id="container">
    <div class="titleAnimado">
      <h1 class="title text1 ion-text-center">
        <p><b>Nombre Estudiante</b></p>
        <p><b><span class="mayusculas">{{ student?.primer_nombre }} {{ student?.primer_apellido }}</span></b></p>
      </h1>
    </div>
    <img src="../../../assets/img/user.svg" width="150px" height="150px" />
    <ion-accordion-group [multiple]="true" [value]="['first',]">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Info Estudiantes</ion-label>
        </ion-item>
        <ion-card slot="content">
          <ion-card-content>
            <!-- <ion-list>
              <ion-item *ngFor="let estudiantes of dataAlumnos">
                <ion-thumbnail slot="start">
                  <img src="../../../assets/img/user.svg" />
                </ion-thumbnail>
                <span><b>Nombre Alumno: </b> {{estudiantes.primer_nombre + " " + estudiantes.primer_apellido}}</span>
                <span><b>Rut Alumno: </b> {{estudiantes.rut | rutFormat}}-{{estudiantes.dv}}</span>
              </ion-item>
            </ion-list> -->
          </ion-card-content>
        </ion-card>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-icon name="people-outline" slot="start"></ion-icon>
          <ion-label>Info del Curso</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">aaaaaa</div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-icon name="construct-outline" slot="start"></ion-icon>
          <ion-label>Configuraciones</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Cambiar Contraseña</div>
        <div class="ion-padding" slot="content">Cambiar Avatar</div>
        <div class="ion-padding" slot="content">Soporte</div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</ion-content>