.ion-page,
#root,
body,
ion-content.background {
  --background: url(../../../assets/img/fondo6.svg) no-repeat fixed;
}

.subt {
  color: #ffff;
}

.title {
  color: rgb(255, 255, 255);
}

.cardCenter {
  width: 80%;
  display: auto;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.233);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.mayusculas {
  text-transform: capitalize;
}

.separador {
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-skeleton-text {
  margin: auto;
}

.imgAvatar {
  margin: auto;
  align-items: center;
  display: flex;
}

.buttonLogin {
    width: 80%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    letter-spacing: 0.08rem;
}

.popover-sugerencias {
  --width: 85%;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .popover-sugerencias {
    --width: 65%;
    margin-top: 100px;
  }
}

@media screen and (max-width: 480px) {
  .popover-sugerencias {
    --width: 80%;
    margin-top: 100px;
  }
}

@media screen and (max-width: 320px) {
  .popover-sugerencias {
    --width: 75%;
    margin-top: 100px;
  }
}
// ion-content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
// }


// #container {
//   text-align: center;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }