<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card class="cardCenter" id="container">
    <ion-card-header>
      <h1 class="ion-text-center titulo">
        <b>¿Has olvidado tu contraseña?</b>
        <br />
        <b>¡No te precupes!</b>
      </h1>
      <small class="ion-text-center titulo2">Ingresa tu correo y te enviaremos un link para
        puedas restablecer tu contraseña.</small>
    </ion-card-header>

    <ion-item lines="none">
      <ion-input placeholder="Ingresa aquí tu Nombre de Usuario" type="text" [(ngModel)]="user.usuario" required></ion-input>
    </ion-item>    
    <ion-item lines="none">
      <ion-input placeholder="Ingresa aquí tu RUT (12345678-9)" type="text" [(ngModel)]="user.rut" required></ion-input>
    </ion-item>    
    <ion-item lines="none">
      <ion-input placeholder="Ingresa aquí tu Correo Personal" type="email" [(ngModel)]="user.email" required></ion-input>
    </ion-item>
    <ion-card-content>
      <small class="ion-text-center titulo2">Si los datos ingresados son correctos, enviaremos tu contraseña al correo ingresado</small>
    </ion-card-content>
    
    <ion-button class="buttonLogin" shape="round" (click)="enviarCorreo()" color="dark"
      expand="block">Enviar</ion-button>
    <br>    
  </ion-card>
</ion-content>