<ion-content class="background">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-chip (click)="irPagina()">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Web Colegio</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip (click)="irContacto()">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Contactanos</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip (click)="irLirmi()">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Ir a plataforma Lirmi</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip (click)="irUtiles()">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Utiles Escolares</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip (click)="irPAE()">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Conoce nuestro programa PAE</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip (click)="irComunidad()">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Conoce nuestra comunidad educativa</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item-divider></ion-item-divider>
    </ion-row>
  </ion-grid>
</ion-content>