.ion-page,
#root,
body,
ion-content.background {
    --background: url(../../../assets/img/fondo6.svg) no-repeat;
}

#container {
    text-align: center;    
}

//degradado 
.titulo{
    font-family: system-ui;
    color: transparent;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.015em;
    background-image: linear-gradient(
        180deg,
        #ffffff,
        #ebe8e3
    );
    background-clip: text;
    -webkit-background-clip: text;
}


ion-chip {    
    --color: #FFFFFF; /* Texto en blanco para mayor contraste */
    margin-bottom: 10px;
    height: 50px;
    width: 400px;
    justify-content: center;
    align-content: center;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: var(--color);
    background-color: var(--background);
    border: 1px solid var(--background);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.233);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.avatar{
    font-size: 30px;
    padding-bottom: 10px;
}