<ion-content class="background">
  <!-- Iterar sobre cada estudiante para crear una tarjeta por cada uno -->
  <ion-card class="cardCenter" *ngFor="let studentId of objectKeys(studentDataSources)">

    <!-- Acordeón para la Tabla de Pagos del Estudiante -->
    <ion-accordion-group [multiple]="true">
      <ion-accordion value="paymentDetails">
        <ion-item slot="header" color="light">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          <ion-label>Detalles de Pago - {{ studentId }}</ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
          <!-- Tabla de Pagos -->
          <table mat-table [dataSource]="studentDataSources[studentId]" class="full-width-table">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="masterToggle(studentId)"
                  [checked]="selections[studentId].hasValue() && isAllSelected(studentId)"
                  [indeterminate]="selections[studentId].hasValue() && !isAllSelected(studentId)"
                  [aria-label]="checkboxLabel(studentId)">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleRow(studentId, row)"
                  [checked]="selections[studentId].isSelected(row)" [aria-label]="checkboxLabel(studentId, row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- Detalle Column -->
            <ng-container matColumnDef="detalle">
              <th mat-header-cell *matHeaderCellDef> Detalle </th>
              <td mat-cell *matCellDef="let element"> {{element.detalle}} </td>
            </ng-container>

            <!-- Fecha Column -->
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef> Fecha </th>
              <td mat-cell *matCellDef="let element"> {{element.fecha | date}} </td>
            </ng-container>

            <!-- Total Column -->
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef> Total </th>
              <td mat-cell *matCellDef="let element"> {{element.total | currency}} </td>
            </ng-container>

            <!-- Nota Column -->
            <!-- <ng-container matColumnDef="nota">
  <th mat-header-cell *matHeaderCellDef> Nota </th>
  <td mat-cell *matCellDef="let element"> {{element.nota}} </td>
</ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRow(studentId, row)">
            </tr>
          </table>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>

  <!-- Botón para confirmar la selección -->
  <ion-button class="buttonLogin" (click)="goPagar()" color="dark" expand="full" shape="round">
    Confirmar Selección
  </ion-button>
</ion-content>