.ion-page,
#root,
body,
ion-content.background {
    --background: url(../../../assets/img/fondo6.svg) no-repeat fixed;
}

.buttonLogin {
    color: rgb(255, 255, 255);
    letter-spacing: 0.08rem;
}



ion-checkbox {
    --size: 15px;
    --size-checked: 10px;
    --background-checked: #069bf1;
}

// table {
//     width: 95%;
//     border-collapse: separate;
//     margin: 2px;
//     padding: 2px;
//     table-layout: fixed;
//     border-spacing: 0;
//     border-color: #000;
//     border-radius: 30px;
//     background: rgba(255, 255, 255, 0.233);
//     box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

// }