<ion-content class="background">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-segment [(ngModel)]="selectedStudent">
        <ion-segment-button *ngFor="let student of students" [value]="student.rut"
          (click)="onStudentSelected(student.rut)">
          <ion-label>{{ student.primer_nombre }} {{ student.primer_apellido }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>


  <ion-router-outlet></ion-router-outlet>



  
</ion-content>