<ion-content class="background">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-segment [(ngModel)]="selectedStudent">
        <ion-segment-button *ngFor="let student of students" [value]="student.rut"
          (click)="onStudentSelected(student.rut)">
          <ion-label>{{ student.primer_nombre }} {{ student.primer_apellido }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>

  <div style="margin-top: 580px;">
    <ion-button class="buttonLogin" color="light" expand="full" shape="round" id="click-trigger">¡Tu opinión nos
      importa!</ion-button>
    <ion-popover trigger="click-trigger" triggerAction="click" side="top" alignment="center"
      class="popover-sugerencias">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Información</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Esta es la primera versión de nuestra aplicación y actualmente estamos en fase de prueba.</p>
              <p>¡Tu feedback es crucial para nosotros!</p>
              <p>Estamos comprometidos en asegurarnos de que esta herramienta cumpla con tus necesidades y expectativas.
              </p>
              <p>Agradecemos cualquier comentario o sugerencia que puedas tener.</p>
              <p>Para más información, feedback o reporte de problemas, por favor no dudes en contactar con el
                desarrollador de esta app.</p>
              <p>Contacto del desarrollador (Whatsapp):
                <br>
                <b class="ion-text-center">+569 37673730</b>
              </p>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ng-template>
    </ion-popover>
  </div>

</ion-content>