<ion-content>
  <div class="container ion-text-center">
    <img src="../../../assets/img/logoColegio.png">
  </div>
</ion-content>
<!-- <ion-content class="ion-text-center">
  <img src="../../../assets/img/3.png">
  <div class="container ion-text-center">
    <ng-lottie [options]="schoolAnimation" (animationCreated)="animationCreated($event)"></ng-lottie>
  </div>
  <div class="container-spinner ion-text-center">
    <ng-lottie [options]="spinnerAnimation" (animationCreated)="animationCreated($event)"></ng-lottie>
  </div>
</ion-content> -->