<ion-content [fullscreen]="true" scroll-x="false" class="background">
  <div class="logo ion-text-center">
    <img class="svgIgm" src="../../../assets/img/4.png" />
  </div>
  <h1 class="titulo"><b>¡Educando con Amor ❤️!</b></h1>
  <br>
  <h1 class="titulo"><b>¡Bienvenido!</b></h1>
  <ion-card class="cardFondo">
    <ion-card-content>

      <ion-item lines="none">
        <ion-input placeholder="Ingresa tu usuario aquí" type="text" [(ngModel)]="user.usuario"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input placeholder="Ingresa tu contraseña aquí" type="password" inputmode="numeric"
          [(ngModel)]="user.password" minlength="8" maxlength="6"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button class="buttonLogin" (click)="ingresar()" expand="full" color="dark" shape="round">Iniciar
            Sesión</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="buttonLogin" (click)="recuperar()" color="dark" expand="full" shape="round">Recuperar
            Contraseña</ion-button>
        </ion-col>

      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-button class="buttonLogin" color="light" expand="full" shape="round" id="click-trigger">Sobre la APP</ion-button>
  <ion-popover trigger="click-trigger" triggerAction="click" side="top" alignment="center">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Información</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Esta aplicación es desarrollada por el equipo de desarrollo <b>Colegio Andes Chile &reg;</b> con el fin
              de
              facilitar el acceso a los padres la información de nuestros estudiantes.</p>
            <p>Para más información y/o informe de problemas, contactar con el equipo de desarrollo.</p>
            <p>Whatsapp desarrollador: <b>+569 37673730</b></p>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>