.ion-page,
#root,
body,
ion-content.background {
  --background: url(../../../assets/img/fondo1.svg) no-repeat fixed;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}

/* animation logo */

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}

.logo {
  -webkit-animation: scale-in-center 2s cubic-bezier(.25, .46, .45, .94) both;
  animation: scale-in-center 2s cubic-bezier(.25, .46, .45, .94) both;

  .svgIgm {
    width: 250px;
    height: 300px;
    margin-top: 10%;
    margin-bottom: 15%;
  }
}

/* animation logo */

ion-item {
  border-radius: 30px !important;
  font-size: 0.9em;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-bottom: 0px !important;
  box-shadow: none !important;
}

input {
  background-color: white;
  border: transparent;
}


.svgIgm {
  justify-content: center;
  width: 80%;
  height: 80%;
}

.titulo {
  text-align: center;
  padding: 0;
  letter-spacing: 0.5rem;
  color: #ffffff;
}

.buttonLogin {
  color: rgb(255, 255, 255);
  letter-spacing: 0.08rem;
}


.cardFondo {
  background-color: rgba(226, 226, 226, 0.747);
  margin-bottom: 10px;
}

ion-popover {
  --width: 300px;
}