
ion-item {
    border-radius: 30px !important;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 0px !important;
    box-shadow: none !important;
  }
  
  input {
    background-color: white;
    border: transparent;
  }
  
   
  .svgIgm {
    justify-content: center;
    width: 80%;
    height: 80%;
  }
  
  .titulo {
    text-align: center;
    padding: 0;
    letter-spacing: 0.5rem;
    color: #ffffff;
  }
  
  .buttonLogin {
    color: rgb(255, 255, 255);
    letter-spacing: 0.08rem;
  }
  
  
  .cardFondo {
    background-color: rgba(226, 226, 226, 0.747);
    margin-bottom: 10px;
  }
  
  
  
  