.ion-page,
#root,
body,
ion-content.background {
    --background: url(../../../assets/img/fondo1111.svg) no-repeat fixed;

}

.buttonLogin {
    width: 85%;
    color: rgb(255, 255, 255);
    letter-spacing: 0.08rem;
    display: auto;
    margin: 0 auto;
}

.note {
    white-space: normal;
    color: #3880ff;
}

.datetime-container {
    display: flex;
    justify-content: center;
    width: 100%;
}