.ion-page,
#root,
body,
ion-content.background {
    --background: url(../../../assets/img/fondo10.png) no-repeat fixed;
}


.imgWebPay {
    width: 30%;
    margin: 0 auto;
    display: block;
}

code {
    margin-left: 10px;
}

.buttonCopy {
    width: 85%;
    color: rgb(255, 255, 255);
    letter-spacing: 0.08rem;
    display: auto;
    margin: 0 auto;
}

.buttonPay {
    width: 85%;
    color: rgb(255, 255, 255);
    letter-spacing: 0.08rem;
    display: auto;
    margin: 0 auto;
}

//degradado 
.titulo {
    font-family: system-ui;
    color: #3880ff;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -0.015em;
    background-clip: text;
    -webkit-background-clip: text;
}

.segment-custom {
    margin: 16px 0;
    display: flex;
    justify-content: center;
    --background: transparent;

    ion-segment-button {
        --padding-start: 16px;
        --padding-end: 16px;
        --padding-top: 16px;
        --padding-bottom: 16px;
        --border-radius: 8px;
        --background: transparent;
        --indicator-color: #3880ff;
        background: none;
        box-shadow: none;
        margin: 0 5px;
        border: 1px solid #ccc;

        ion-icon {
            font-size: 24px;
            margin-bottom: 8px;
        }

        ion-label {
            font-size: 18px;
        }
    }
}

.cardCenter {
    width: 90%;
    display: auto;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.233);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
        rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.note {
    white-space: normal;
    color: #3880ff;
}

ion-label b{
    color: #3880ff;
    
}

.email-item {
    --background: #fff!important;
    --border-radius: 8px;
    --padding-start: 16px;
    --padding-end: 16px;
    margin-top: 13px;
}