<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Colegio Andes Chile
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irhome()" fill="clear" color="dark">
        <ion-icon name="exit-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>


<ion-footer class="ion-text-center">
  <ion-toolbar>
    <!-- Default Segment -->
    <ion-segment value="profile" (ionChange)="segmentChanged($event)">
      
      <ion-segment-button value="news">
        <ion-row>
          <ion-col size="12">
            <ion-icon name="newspaper-outline" size="large"></ion-icon>
          </ion-col>
          <ion-col size="12">
            <ion-label class="titleSegment">Servicios</ion-label>
          </ion-col>
        </ion-row>
      </ion-segment-button>

      <ion-segment-button value="profile">
        <ion-row>
          <ion-col size="12">
            <ion-icon name="person-circle-outline" size="large"></ion-icon>
          </ion-col>
          <ion-col size="12">
            <ion-label class="titleSegment">Perfil</ion-label>
          </ion-col>
        </ion-row>
      </ion-segment-button>   

      <ion-segment-button value="finance">
        <ion-row>
          <ion-col size="12">
            <ion-icon name="checkmark-circle-outline" size="large"></ion-icon>
          </ion-col>
          <ion-col size="12">
            <ion-label class="titleSegment">Finanzas</ion-label>
          </ion-col>
        </ion-row>
      </ion-segment-button>
      
    </ion-segment>

  </ion-toolbar>
</ion-footer>