<ion-content class="background" >  
    <ion-card class="cardCenter" id="container">
      <img src="../../../assets/img/user.svg" />
      <ion-card-header>
        <ion-card-subtitle color="dark">Información</ion-card-subtitle>
        <ion-card-title class="mayusculas">{{usu}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>        
        <ion-card-subtitle class="title">Carrera: </ion-card-subtitle>        
        <h5 class="subt mayusculas" >{{carrera}}</h5>        
        <ion-card-subtitle class="title">Sede: </ion-card-subtitle>
        <h5 class="subt mayusculas">{{sede}}</h5> 
        <ion-card-subtitle class="title">Correo: </ion-card-subtitle>
        <h5 class="subt">{{email}}</h5>      
      </ion-card-content>
    </ion-card>
</ion-content>