<h1>Respuesta transacción</h1>
<h5>TOKEN_WS = {{modelo.token_ws}}</h5>
<ul>
    <li>VCI: <span>{{webpay_respuesta.vci}}</span></li>
    <li>amount: <span>{{webpay_respuesta.amount}}</span></li>
    <li>status: <span>{{webpay_respuesta.status}}</span></li>
    <li>buy_order: <span>{{webpay_respuesta.buy_order}}</span></li>
    <li>session_id: <span>{{webpay_respuesta.session_id}}</span></li>
    <li>card_detail: <span>{{webpay_respuesta.card_detail.card_number}}</span></li>
    <li>accounting_date: <span>{{webpay_respuesta.accounting_date}}</span></li>
    <li>transaction_date: <span>{{webpay_respuesta.transaction_date}}</span></li>
    <li>authorization_code: <span>{{webpay_respuesta.authorization_code}}</span></li>
    <li>payment_type_code: <span>{{webpay_respuesta.payment_type_code}}</span></li>
    <li>response_code: <span>{{webpay_respuesta.response_code}}</span></li>
    <li>installments_number: <span>{{webpay_respuesta.installments_number}}</span></li>
</ul>